<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       ">

    <!--    
	<bean name="userDao" class="myssh.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean name="userService" class="myssh.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean> -->
	
	<!-- 数据访问对象Bean配置 BEGIN -->
	<bean name="tokenDao" class="org.chingo.gutcom.dao.impl.CommonTokenDaoImpl">
	    <property name="ht" ref="htemplate" />
	</bean>
	<bean name="sysconfDao" class="org.chingo.gutcom.dao.impl.CommonSysconfDaoImpl">
		<property name="ht" ref="htemplate" />
	</bean>
	<bean name="syslogDao" class="org.chingo.gutcom.dao.impl.CommonSyslogDaoImpl">
		<property name="ht" ref="htemplate" />
	</bean>
	<bean name="wordDao" class="org.chingo.gutcom.dao.impl.CommonFilterWordDaoImpl">
		<property name="ht" ref="htemplate" />
	</bean>
	<bean name="userDao" class="org.chingo.gutcom.dao.impl.CommonUserDaoImpl">
		<property name="ht" ref="htemplate" />
	</bean>
	<bean name="weiboDao" class="org.chingo.gutcom.dao.impl.WeiboContentDaoImpl">
	   <property name="ht" ref="htemplate" />
	</bean>
	<bean name="topicDao" class="org.chingo.gutcom.dao.impl.WeiboTopicDaoImpl">
	   <property name="ht" ref="htemplate" />
	</bean>
	<bean name="topicRelaDao" class="org.chingo.gutcom.dao.impl.WeiboTopicRelationDaoImpl">
	   <property name="ht" ref="htemplate" />
	</bean>
	<bean name="atDao" class="org.chingo.gutcom.dao.impl.WeiboAtDaoImpl">
	   <property name="ht" ref="htemplate" />
	</bean>
	<bean name="wbFollowDao" class="org.chingo.gutcom.dao.impl.WeiboFollowDaoImpl">
	    <property name="ht" ref="htemplate" />
	</bean>
	<bean name="wbFavDao" class="org.chingo.gutcom.dao.impl.WeiboFavDaoImpl">
	    <property name="ht" ref="htemplate" />
	</bean>
	<bean name="weiboReportDao" class="org.chingo.gutcom.dao.impl.WeiboReportDaoImpl">
	   <property name="ht" ref="htemplate" />
	</bean>
	<bean name="msgRecvDao" class="org.chingo.gutcom.dao.impl.CommonMsgRecvDaoImpl">
	    <property name="ht" ref="htemplate" />
	</bean>
	<bean name="msgSendDao" class="org.chingo.gutcom.dao.impl.CommonMsgSendDaoImpl">
	   <property name="ht" ref="htemplate" />
	</bean>
	<!-- 数据访问对象Bean配置 END -->
	
	<!-- 业务逻辑Bean配置 BEGIN -->
	<bean name="sysManager" class="org.chingo.gutcom.service.impl.SystemManagerImpl">
		<property name="sysconfDao" ref="sysconfDao" />
		<property name="syslogDao" ref="syslogDao" />
		<property name="wordDao" ref="wordDao" />
		<property name="userDao" ref="userDao" />
	</bean>
	<bean name="userManager" class="org.chingo.gutcom.service.impl.UserManagerImpl">
		<property name="userDao" ref="userDao" />
		<property name="logDao" ref="syslogDao" />
		<property name="tokenDao" ref="tokenDao" />
		<property name="wbFollowDao" ref="wbFollowDao" />
		<property name="weiboDao" ref="weiboDao" />
	</bean>
	<bean name="weiboManager" class="org.chingo.gutcom.service.impl.WeiboManagerImpl">
	    <property name="weiboDao" ref="weiboDao" />
	    <property name="topicDao" ref="topicDao" />
	    <property name="reportDao" ref="weiboReportDao" />
	    <property name="userDao" ref="userDao" />
	    <property name="topicRelaDao" ref="topicRelaDao" />
	    <property name="atDao" ref="atDao" />
	    <property name="logDao" ref="syslogDao" />
	    <property name="msgRecvDao" ref="msgRecvDao" />
	    <property name="wbFollowDao" ref="wbFollowDao" />
	    <property name="wbFavDao" ref="wbFavDao" />
	</bean>
	<bean name="msgManager" class="org.chingo.gutcom.service.impl.MsgManagerImpl">
	    <property name="msgRecvDao" ref="msgRecvDao" />
	    <property name="msgSendDao" ref="msgSendDao" />
	    <property name="userDao" ref="userDao" />
	    <property name="logDao" ref="syslogDao" />
	</bean>
	<bean name="accManager" class="org.chingo.gutcom.service.impl.AccountManagerImpl">
	    <property name="userDao" ref="userDao" />
	    <property name="logDao" ref="syslogDao" />
	</bean>
	<bean name="userRelaManager" class="org.chingo.gutcom.service.impl.UserRelationManagerImpl">
	    <property name="weiboDao" ref="weiboDao" />
	    <property name="followDao" ref="wbFollowDao" />
	    <property name="userDao" ref="userDao" />
	    <property name="logDao" ref="syslogDao" />
	</bean>
	<bean name="wbCommManager" class="org.chingo.gutcom.service.impl.WbCommManagerImpl">
	    <property name="weiboDao" ref="weiboDao" />
	    <property name="topicDao" ref="topicDao" />
	    <property name="userDao" ref="userDao" />
	    <property name="topicRelaDao" ref="topicRelaDao" />
	    <property name="atDao" ref="atDao" />
	    <property name="logDao" ref="syslogDao" />
	</bean>
	<bean name="wbFavManager" class="org.chingo.gutcom.service.impl.WeiboFavManagerImpl">
	    <property name="weiboDao" ref="weiboDao" />
	    <property name="topicDao" ref="topicDao" />
	    <property name="userDao" ref="userDao" />
	    <property name="wbFavDao" ref="wbFavDao" />
	    <property name="logDao" ref="syslogDao" />
	</bean>
	<!-- 业务逻辑Bean配置 END -->
	
	<!-- 自启动Servlet Bean配置 BEGIN -->
	<bean name="initServlet" class="org.chingo.gutcom.servlet.InitServlet">
		<property name="sysMgr" ref="sysManager" />
		<property name="weiboMgr" ref="weiboManager" />
	</bean>
	<!-- 自启动Servlet Bean配置 END -->
	
	<!-- Quartz自动调度Bean配置 BEGIN -->
	<!-- 微博调度任务Bean配置 -->
	<bean name="weiboQuartzJob" class="org.chingo.gutcom.schedule.job.WeiboJob">
	    <property name="weiboMgr" ref="weiboManager" />
	</bean>
	<bean name="weiboQuartzDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="weiboQuartzJob" />
		<property name="targetMethod" value="updatePublicWeibo" />
	</bean>
	<bean id="weiboCronTrigger" class="org.chingo.gutcom.schedule.trigger.WeiboTrigger">
		<property name="jobDetail" ref="weiboQuartzDetail" />
	</bean>
	<!-- 系统调度任务Bean配置 -->
	<bean name="systemQuartzJob" class="org.chingo.gutcom.schedule.job.SystemJob">
	    <property name="logDao" ref="syslogDao" />
	</bean>
	<bean name="systemQuartzDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="systemQuartzJob" />
		<property name="targetMethod" value="clearOldLogs" />
	</bean>
	<bean id="systemCronTrigger" class="org.chingo.gutcom.schedule.trigger.SystemTrigger">
		<property name="jobDetail" ref="systemQuartzDetail" />
	</bean>
	
	<!-- 触发器列表配置 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="weiboCronTrigger" />
				<ref local="systemCronTrigger" />
			</list>
		</property>
	</bean>
	
	<!-- Quartz自动调度Bean配置 END -->
</beans>