<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       ">

	<!-- 
	 <bean name="userAction" class="myssh.action.UserAction" scope="prototype">
	 	<property name="us" ref="userService"/>
	 </bean> -->

	
	<bean name="syslogAction" class="org.chingo.gutcom.action.SyslogAction" scope="prototype">
		<property name="sysMgr" ref="sysManager" />
	</bean>
	<bean name="sysconfAction" class="org.chingo.gutcom.action.SysconfAction" scope="prototype">
		<property name="sysMgr" ref="sysManager" />
	</bean>
	<bean name="filterWordAction" class="org.chingo.gutcom.action.FilterWordAction" scope="prototype">
		<property name="sysMgr" ref="sysManager" />
	</bean>
	
	<bean name="userAction" class="org.chingo.gutcom.action.UserAction" scope="prototype">
		<property name="userMgr" ref="userManager" />
	</bean>
	
	<bean name="weiboAction" class="org.chingo.gutcom.action.WeiboAction" scope="prototype">
	    <property name="weiboMgr" ref="weiboManager" />
	</bean>
	<bean name="topicAction" class="org.chingo.gutcom.action.TopicAction" scope="prototype">
	    <property name="weiboMgr" ref="weiboManager" />
	</bean>
	<bean name="weiboReportAction" class="org.chingo.gutcom.action.WeiboReportAction" scope="prototype">
	    <property name="weiboMgr" ref="weiboManager" />
	</bean>
	
	<bean name="dbopAction" class="org.chingo.gutcom.action.DbOpAction" scope="prototype">
	    <property name="ht" ref="hbtest" />
	</bean>
	
	<bean name="msgAction" class="org.chingo.gutcom.action.MsgAction" scope="prototype">
	    <property name="msgMgr" ref="msgManager" />
	</bean>
	
	<bean name="accAction" class="org.chingo.gutcom.action.AccountAction" scope="prototype">
	    <property name="accMgr" ref="accManager" />
	</bean>
	
	<!-- API BEGIN -->
	<!-- 公共API -->
	<bean name="authorizeApiAction" class="org.chingo.gutcom.action.api.common.AuthorizeAction" scope="prototype">
	    <property name="userMgr" ref="userManager" />
	</bean>
	<bean name="registerApiAction" class="org.chingo.gutcom.action.api.common.RegisterAction" scope="prototype">
	    <property name="userMgr" ref="userManager" />
	</bean>
	<bean name="accountApiAction" class="org.chingo.gutcom.action.api.common.AccountAction" scope="prototype">
	    <property name="userMgr" ref="userManager" />
	</bean>
	<bean name="userApiAction" class="org.chingo.gutcom.action.api.common.UserAction" scope="prototype">
	    <property name="userMgr" ref="userManager" />
	</bean>
	<bean name="messageApiAction" class="org.chingo.gutcom.action.api.common.MessageAction" scope="prototype">
	    <property name="msgMgr" ref="msgManager" />
	</bean>
	<bean name="noticeApiAction" class="org.chingo.gutcom.action.api.common.NoticeAction" scope="prototype">
	    <property name="userMgr" ref="userManager" />
	</bean>
	<bean name="searchApiAction" class="org.chingo.gutcom.action.api.common.SearchAction" scope="prototype">
	    <property name="userMgr" ref="userManager" />
	</bean>
	<!-- 微博API -->
	<bean name="weiboApiAction" class="org.chingo.gutcom.action.api.weibo.WbAction" scope="prototype">
	    <property name="weiboMgr" ref="weiboManager" />
	</bean>
	<bean name="wbCommApiAction" class="org.chingo.gutcom.action.api.weibo.CommentAction" scope="prototype">
	    <property name="wbCommMgr" ref="wbCommManager" />
	</bean>
	<bean name="wbFavApiAction" class="org.chingo.gutcom.action.api.weibo.FavouriteAction" scope="prototype">
	    <property name="wbFavMgr" ref="wbFavManager" />
	</bean>
	<bean name="wbRelaApiAction" class="org.chingo.gutcom.action.api.weibo.RelationAction" scope="prototype">
	    <property name="urMgr" ref="userRelaManager" />
	</bean>
	<bean name="wbReportApiAction" class="org.chingo.gutcom.action.api.weibo.ReportAction" scope="prototype">
	    <property name="weiboMgr" ref="weiboManager" />
	</bean>
	<bean name="wbSearchApiAction" class="org.chingo.gutcom.action.api.weibo.SearchAction" scope="prototype">
	    <property name="weiboMgr" ref="weiboManager" />
	</bean>
	<!-- API END -->
</beans>